.navWrapper {
  display: flex;
  position: sticky;
  justify-content: center;
  width: 100%;
  background-color: #5232a8;
  height: 80px;
}

.navigationTabsContainer {
  display: flex;
  align-items: center;
  color: white;
}

.navItem {
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
}
